# Some general ignore patterns
build/
obj/
*.o
Debug*/
Release*/
*.mode*
*.app/
*.pyc
.svn/


#XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
#XCode 4
xcuserdata
*.xcworkspace

#Code::Blocks
*.depend
*.layout

#Visual Studio
*.sdf
*.opensdf
*.suo
ipch/

#Eclipse
.metadata
local.properties
.externalToolBuilders


# OS-specific ignore patterns

#Linux
*~
# KDE
.directory

#OSX
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

#Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

#Android
.csettings
/libs/openFrameworksCompiled/project/android/paths.make

# Miscellaneous
.mailmap

unity_datatoys/Library/
unity_marble_immigration/Library/
unity_marble_immigration/Temp/
unity*.csproj
unity_datatoys/*.csproj
unity_datatoys/*.pidb
unity_datatoys/*.sln
unity_marble_immigration/*.csproj
unity_marble_immigration/*.pidb
unity_marble_immigration/*.unityproj
unity_marble_immigration/*.sln
